@import url('https://fonts.googleapis.com/css?family=Roboto');
$main-color:#303F9F;
$back-color:#ecf0f1;
$text-color:#2c3e50;
$danger:#e74c3c;

@mixin onOutline{
	&:focus,
			   &:active{
				outline:none;
			}
}
*{
	font-family: 'Roboto', sans-serif;

}
html,body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-color:#ecf0f1;
}
.wrapper{
	width:100%;
	height:100%;
	background-color: #ecf0f1;

	//display: flex;
	//justify-content: center;
	//align-items: center;
		
   header{
   	height:180px;
   	background-color:$main-color;

   }
   section{
   display:flex;
   justify-content:center;
 }//end of section		
}//end of wrapper
   	.loginForm{
   	position: absolute;
   	top:100px;
   	height:480px;
   	width:33%;
   	background-color:white;
   	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   	border-radius: 1px;
   	 &__header{
   	 	//border:1px solid black;
   	 	margin-left: 20px;
   	 	margin-right: 20px;
   	 	margin-top: 40px;
   	 	display:flex;
   	 	flex-direction: column;
   	 	justify-content:center;
   	 	align-items:center;
   	 	&-icon{
   	 		color:$main-color;
   	 		font-size:100px;
   	 	}
   	 	&-title{
   	 		margin:0;
   	 		margin-top:10px;
   	 		color:$text-color;
   	 		font-size:25px;
   	 		text-transform: uppercase;
   	 		letter-spacing: 2px;
   	 	}
   	 }
   	 &__body{
   	 //	border:1px solid black;
   	 display:flex;
   	 flex-direction: column;
   	 width:100%;
   	 margin-top:12px;
  
   	 justify-content:center;
   	 align-items:center;
     &-forgetpwd{
     	position:relative;
     	top:10px;
     	left:-115px;
     	font-size:14px;	
     	color:#7f8c8d;
     	cursor:pointer;
     	&:hover{
     		color:#424849;
     	}
     }
   	 &-inputField{
   	 	width:75%;
   	 	height:35px;
   	 	padding-top: 10px;
   	 	margin-top:25px;
   	 	border:0;
   	 	font-size:16px;
   	 	color:$text-color;
   	 	border-bottom:1.5px solid #bdc3c7;
   	 	@include onOutline;
        
   	 	&::placeholder{
   	 		position:relative;	
   	 		font-weight: 400;
   	 		top:0;
   	 		transition: top 0.2s;
   	 		transition-timing-function: ease;
   	 	}

   	 	&:focus{
   	 		border-bottom:1.5px solid $main-color;
   	 		&::placeholder{
   	 			top:-20px;
   	 			color:$main-color;
   	 			font-weight:300;
   	 		}
   	 	}

   	 	&--focuss{
   	 		border-bottom:1.5px solid $main-color;
   	 	}
   	 	&--success{
   	 		border-bottom:1.5px solid $main-color;
   	 	}
   	 	&--error{
   	 		border-bottom:1.5px solid $danger;
   	 	}
      
   	 }//end of loginForm_inputField

   	 }//end of loginform__body

   	 &__footer{
   	 	margin-top:30px;
       display:flex;
       flex-direction:column;
       //justify-content:center;
       align-items:center;
      // border:1px solid black;
      
           &-submitButton{
          border:1px solid black;
	
           	background-color:$main-color;
           	border:0;
           	color:white;
           	height:40px;
           	width:75%;
           	cursor:pointer;
           @include onOutline;
           }
           &-account{
           	color:$text-color;
           	font-size:13px;
           	cursor:pointer;
           
           }
   	 }//end of loginFOrm__footer
   	}//loginFOrm

  