@import url('https://fonts.googleapis.com/css?family=Roboto');
$main-color:#303F9F;
$back-color:#ecf0f1;
$text-color:#2c3e50;
$text-color-fade:#95a5a6;
$danger:#e74c3c;

@mixin onOutline{
	&:focus,
			   &:active{
				outline:none;
			}
}
*{
	font-family: 'Roboto', sans-serif;

}
html,body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-color:#F3F6F7;
}
.wrapper{
	height:100%;
	width:100%;
	top:0;

	&__header{
		height:10%;
		width:100%;
		background-color:white;
		//border:1px solid black;
		 box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.15);
		z-index: 5;
		 //padding-bottom: 10px;
          display:flex;
          align-items: center;
		 &-logo{
         margin:0;
         font-size: 25px;
         color:$main-color;
         font-weight: 600;
         padding-left: 55px;
         letter-spacing: 3px;
         cursor:pointer;
		 }
		 &-links{
		 	margin:0;
		 	margin-top:5px;
		 	padding-top:10px;
		 	//	border:1px solid black;
		   position: absolute;
		   right:200px;
		 	list-style-type: none;
		
		 	padding-bottom:5px;
		 	&__list{
		 
		 //	padding-top:8px;
		 	padding-bottom:8px;
		 	margin-right: 40px;
		 	text-transform: uppercase;
		 	display: inline-block;
		 	cursor:pointer;
		 	color:#95a5a6;
		 	&:hover{
		 		color:$text-color;
		 	}
		 	&--active{
		 		color:$text-color;
		 	}
		 }
		 }
		 &-btn{
		 	position:absolute;
		 	right:25px;
		 	top:15px;
		 	border:0;
		 	border-radius: 2px;
		 	background-color:$main-color;
		 	color:white;
		 	padding-top:8px;
		 	padding-bottom:10px;
		 	cursor:pointer;
		 	width:100px;
		 	border:1.5px solid $main-color;
		 	transition:background-color 0.5s;
		 	transition-timing-function:ease;
		 	&:hover{
		 		border:1.5px solid $main-color;
		 		background-color:transparent;
		 		color:$main-color;
		 	}
		 }
	}//end of header
	&__body{
		height:90%;
	
		//background:url(indexImage.png) no-repeat center fixed;
		// background-size: cover;
     //   background-repeat: no-repeat;
		width:100%;
		display:flex;
		flex-direction: column;
		align-items: center;
		 &-title{
		 	font-size:45px;
		 	text-transform:uppercase;
		 	color:#7f8c8d;
		 	padding-top:90px;
		 	letter-spacing:3px;

		 }
		 &-subTitle{
		 	padding-top:5px;
		 	color:#95a5a6;
		 }
		 &-btngroup{
          padding-top:50px;
         // border:1px solid black;
         width:35%;
         display:flex;
         justify-content: space-around;
		 	&__button{
		 		border:0;
		 		height:42px;
		 		width:45%;
		 		border-radius:2px;
		 		cursor:pointer;
		 		text-transform:uppercase;
		 		letter-spacing:1px;
                &--fillbtn{
                	background-color:$main-color;
                	color:white;
                }
                &--strokebtn{
                	border:2px solid #bdc3c7;
                	color:$text-color-fade;
                	background-color:transparent;
                	&:hover{
                		color:$text-color;
                	}
                }
		 	}
		 }
	}
}//end of wrapper